<?xml version="1.0" encoding="UTF-8"?>
<VRage.Core>
  <!-- Transitional system for loading the game. -->
  <!--<System Path="Medieval.MyMedievalCompatibilitySystem" Assembly="MedievalEngineers"/>-->

  <!-- Error Reporting -->
  <System Path="VRage.Systems.MyErrorReporterSystem" Assembly="VRage.Game" UploadUri="https://crashlogs.keenswh.com/api/Report" UploadUriOld="http://www.minerwars.com/SubmitLog.aspx?id=">
    <Logger>Default</Logger>
  </System>

  <!-- Engine Bootstrapper-->
  <Bootstrapper Path="VRage.Systems.MyEngineBootstrapper" Assembly="VRage.Game">
    <ModdablePathBlackList>
      <Path>Shaders</Path>
    </ModdablePathBlackList>
  </Bootstrapper>

  <!-- VRage.Scripting configuration file. -->
  <Include>scripting.config</Include>

  <System Path="VRage.GameServices.MyGameService"/>

  <!-- Steam Service -->
  <!--<System Path="Phoenix.WorkshopTool.MySteamService" Assembly="MEWorkshopTool" AppId="333950"/>-->

</VRage.Core>
